* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

html{
    font-size: 60%;
}

.main_div{
    width: 100%;
    height: 70rem;
    background-color: rgb(189, 223, 223);
    display: grid;
    place-items: center;
}

.music_container{
    width: 35rem;
    height: 47rem;
    background-color: #ffff;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3rem;
    text-align: center;
}

.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    color: #0b0a0a;
    margin: 2rem 0 0.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem;
}

.music_container #artist{
    color: #100e0e;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    margin-bottom: 3rem;
    font-weight: 300;
}

.img_container{
    width: 20rem;
    height: 20rem;
    margin: auto;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1.2rem 3rem 0.5rem rgb(0, 0, 0 , 0.4);
}

.music_controls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.music_controls .fa-solid{
    color: #111111;
    font-size: 2.8rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
}

.music_controls .main_button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #111;
    color: #f6f6f6;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_controls .fa-solid:hover{
    color: gray;
}

.music_controls .main_button:hover{
    color: #0b0a0a;
    background-color: rgb(207, 206, 206);
}

.anime{
    animation: rotateplay 3s linear infinite;
}

@keyframes rotateplay{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

audio{
    visibility: hidden;
}